node_modules/

**/.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

.env
.env.*
*.log

**/*service-account*.json
**/*serviceAccount*.json
**/*sa*.json
**/*adminsdk*.json
**/*firebase-adminsdk*.json

server/data/

dist/
build/
